html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #fdff00;       
}

.container {
    text-align: center;
    padding: 2em;   
    height: 100%
}

h1 {
    margin: 0;
    font-size: 3em;
}

h1 > span {
    color: #fb0081;
}

button {
    background: none;
    border: none;
    font-size:20px;
    margin: 2px 10px;
    cursor:pointer;
}

.subtitle {
    margin-top: 0;
    font-size: 1.5em;
    
}

.cat-basket {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    width: 90%;
    /* background: hotpink; */
    margin: 0 auto;
}

.profile,
.pic {
    border-radius: 10px;
}

.profile {
    height: 260px;
    padding: 1em;
    background-color: #ff6700;
    color: white;
    cursor: pointer;
}

.pic {
    max-height: 200px;
    margin: 0 auto;
}

.pic+p{
    font-weight:bold;
    font-size: 24px;
}